<h1>Welcome to the Broker Ratings App!</h1>
<br>
<br>

<form action="/login" method="post">
    <div class="row">
        <div class="col">
            Username: <input type="text" name="username" />
        </div>
        <br />
        <div class="col">
            Password: <input type="password" name="password" />
        </div>
    </div>
    <br />
    <div class="row">
        <button type="submit">Login</button>
    </div>
        
</form>
<br>
<br>

</a>